<h1><%= @goal.title %></h1>

<%= @goal.description %>

<% @goal.comments.each do |comment| %>
<%= comment.content %>
<% end %>

<h3>Tell us what you think about this goal!</h3>
<%= render "comments/form", user: nil, goal: @goal %>
